<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="Btomic.Controls" assembly="Btomic.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=3482df940b04bff2" />
        <add tagPrefix="asp" namespace="Btomic.Controls" assembly="Btomic.FrameworkUI, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4b681c3014283c9d" />
      </controls>
    </pages>
  </system.web>
</configuration>
