@inherits CloudCore.Web.Core.BaseViews.WebView<CloudCore.Web.Models.ForgotPassword>
@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class="form-signin" }))
{
    <h3>Trouble Accessing The System?</h3>
    <label>Forgot your password? Enter your login or email below. <br /> We will send you an email with a link to reset your password.</label>
    
    <br />
    <br />

    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control pull-left", placeholder = "Login/Email Address" })
    <button type="submit" class="btn btn-default pull-right">Reset</button>
    <div class="clearfix"></div>
    <br />

    <button type="button" onclick="location.href='@Url.Action("Index", "Login", new { area = "CUI" })'" class="btn btn-default">Back To Login</button>
    
    <br />
    <br />
    @Html.ValidationSummary(false, string.Empty)
}

