<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="cloudcore"
             providerName="System.Data.SqlClient"
             connectionString="Server=tcp:ur2lyzkngd.database.windows.net,1433;Database=CloudCoreDB;User ID=ServerAdmin@ur2lyzkngd;Password=P@55w0rd#0;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <cloudcore encrypted="false" xdt:Transform="Replace" >
        <keys encryptionKey="5466783456788905" applicationKey="11000000-0000-0000-0000-000000000002" />
        <services xdt:Transform="Replace" >
            <clickatell apiKey="3329582" username="LoanEx" password="asd12345_" />
            <postage apiKey="zfY0bmETd6uz7oGUsUVqinwlw0vy3X43" />
        </services>
        <worker sleepIntervalInSeconds="3" />
        <storage storageConnectionString="DefaultEndpointsProtocol=https;AccountName=cloudcoredemostorageacc;AccountKey=QP17g9C6GtTr6Kj7TWAIduyi0AxXyWO9Fh48iMdZtiTD3EZxZmEp3vPWJrJXt3AhdEA42h2C6+94072ELICRwg==" />
        <logging verbosityLevel="Warnings" />
    </cloudcore>
</configuration>