<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="cloudcore" type="CloudCore.Configuration.ConfigFile.CloudCoreWebSection, CloudCore.Configuration.ConfigFile" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
    <cloudcore encrypted="false">
        <keys encryptionKey="4566783456788904" applicationKey="11000000-0000-0000-0000-000000000001" />
        <services>
            <postage apiKey="zfY0bmETd6uz7oGUsUVqinwlw0vy3X43" />
            <clickatell apiKey="3329582" username="" password="" />
        </services>
        <webSettings siteName="cloudcoretest" siteVersion="1.0" redirectToHttps="false" jQuerySource="internal">
            <defaultAction area="CUI" controller="Main" action="Index" />
            <loginAction area="CUI" controller="Login" action="Index" />
        </webSettings>
        <storage storageConnectionString="UseDevelopmentStorage=true" />
    </cloudcore>
</configuration>