@{
    ViewBag.Title = "Not Available";
}
<div style="text-align:center">
    <table style="text-align: center; 
    width: 500px; 
    height:100px; 
    top:30%;
    margin-top:-50px; 
    position: absolute; 
    left: 50%; 
    margin-left: -250px;
    background-image: url('../../../asset/Get?file=/layout/tooloption_bg.png&resourceArea=CUI'); 
    background-repeat:repeat-x; 
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #cccccc;
    background-position:bottom;
    background-color:#efeff1;">
        <tr>
            <td>
                <img 
                    alt="This functionality is not available for Alpha 1 of CloudCore"  
                    src="@Url.Asset("NotAvailable.png", "CUI")" 
                />
            </td>
            <td>
                <span style="font-size: 12px; font-family: Verdana, Geneva, Arial, Helvetica, Sans-serif; ">This functionality is not available for Alpha 1 of CloudCore</span>    
            </td>
        </tr>
    </table>
</div>





