<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("00ad6fdb-506f-49e7-92fc-c0619cf41597");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
