<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="cloudcore"
             providerName="System.Data.SqlClient"
             connectionString="Server=tcp:ur2lyzkngd.database.windows.net,1433;Database=CloudCoreDB;User ID=ServerAdmin@ur2lyzkngd;Password=P@55w0rd#0;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <cloudcore encrypted="false" productSupportContactAddress="http://frameworkone.atlassian.net/" xdt:Transform="Replace" >
        <keys encryptionKey="5466783456788905" applicationKey="11000000-0000-0000-0000-000000000001" />
        <services xdt:Transform="Replace" >
            <clickatell apiKey="3329582" username="LoanEx" password="asd12345_" />
            <postage apiKey="zfY0bmETd6uz7oGUsUVqinwlw0vy3X43" />
        </services>
        <webSettings siteName="CloudCore Test" siteVersion="1.0" redirectToHttps="false" jQuerySource="internal"  >
            <defaultAction area="CUI" controller="Main" action="Index" />
            <loginAction area="CUI" controller="Login" action="Index" />
        </webSettings>
        <storage storageConnectionString="DefaultEndpointsProtocol=https;AccountName=cloudcoredemostorageacc;AccountKey=QP17g9C6GtTr6Kj7TWAIduyi0AxXyWO9Fh48iMdZtiTD3EZxZmEp3vPWJrJXt3AhdEA42h2C6+94072ELICRwg==" />
        <logging verbosityLevel="Warnings" />
        <serviceBus serviceBusConnectionString="Endpoint=sb://cloudcoredemo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=wiOrf702bDwCY1W1xkCRv1r8gxmXrra7YKAbxq7kotc=" />
    </cloudcore>
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5" optimizeCompilations="true" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>