<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="CloudCore.VSExtension.Wizards" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
@inherits CloudCore.Web.Core.BaseViews.WebView<$rootnamespace$.Models.<#= templateData.ContextName #>DetailsModel>
@{
    ViewBag.Title = "<#= templateData.PageTitle #>";
}
