.password_strength
{
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
}

.password_strength div
{
    width: 35px;
    height: 10px;
    border: 1px solid #d9d9d9;
    display: inline-block;
}

.response
{
    width: 210px; 
    height: 20px;
}
.pst
{
    text-align: center;
    font-size: 11px;
    color: #5C5C5C;
}


.password_strength div.sp_First
{
    border-radius: 12px 0px 0px 12px;
    -moz-border-radius: 12px 0px 0px 12px;
    -webkite-border-radius: 12px 0px 0px 12px;
}

.password_strength div.sp_Last
{
    border-radius: 0px 12px 12px 0px;
    -moz-border-radius: 0px 12px 12px 0px;
    -webkite-border-radius: 0px 12px 12px 0px;
}

.password_strength_0
{
    background: #c65559; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2NTU1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjhkNjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #c65559 0%, #e28d66 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c65559), color-stop(100%,#e28d66)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #c65559 0%,#e28d66 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #c65559 0%,#e28d66 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #c65559 0%,#e28d66 100%); /* IE10+ */
    background: -linear-gradient(left, #c65559 0%,#e28d66 100%); /* W3C */
}
.password_strength_1
{
    background: #ea995a; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhOTk1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmUwNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ea995a 0%, #ffe06b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ea995a), color-stop(100%,#ffe06b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ea995a 0%,#ffe06b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ea995a 0%,#ffe06b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ea995a 0%,#ffe06b 100%); /* IE10+ */
    background: -linear-gradient(left,  #ea995a 0%,#ffe06b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea995a', endColorstr='#ffe06b',GradientType=1 ); /* IE6-8 */
}
.password_strength_2
{
    background: #f9ef69; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZWY2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2ZmNzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #f9ef69 0%, #f3ff75 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9ef69), color-stop(100%,#f3ff75)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f9ef69 0%,#f3ff75 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f9ef69 0%,#f3ff75 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f9ef69 0%,#f3ff75 100%); /* IE10+ */
    background: -linear-gradient(left,  #f9ef69 0%,#f3ff75 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ef69', endColorstr='#f3ff75',GradientType=1 ); /* IE6-8 */
}
.password_strength_3
{
    background: #edff79; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2VkZmY3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWU5NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #edff79 1%, #bee966 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#edff79), color-stop(100%,#bee966)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #edff79 1%,#bee966 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #edff79 1%,#bee966 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #edff79 1%,#bee966 100%); /* IE10+ */
    background: -linear-gradient(left,  #edff79 1%,#bee966 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edff79', endColorstr='#bee966',GradientType=1 ); /* IE6-8 */
}
.password_strength_4
{
    background: #b5e06a; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2I1ZTA2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MWQxNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #b5e06a 2%, #81d154 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(2%,#b5e06a), color-stop(100%,#81d154)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #b5e06a 2%,#81d154 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #b5e06a 2%,#81d154 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #b5e06a 2%,#81d154 100%); /* IE10+ */
    background: -linear-gradient(left,  #b5e06a 2%,#81d154 100%); /* W3C */
}
/*getting removed by the workspace, see what can be done about this*/

.caption span
{
    font-weight: bold;
}

#helpClick {
	cursor: pointer;
    margin-left: 4px;
    vertical-align: -4px;
}

#helpLayer
{
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkite-border-radius: 5px 5px 5px 5px;
    background-color: #fff;
    border: 1px solid #666666;
    margin-left: 240px;
    margin-top: -16px;
    padding: 10px;
    position: absolute;
    width: 200px;
    box-shadow: 0 1px 1px #999;
    -moz-box-shadow: 0 1px 1px #999;
    -webkit-box-shadow: 0 1px 1px #999;
    white-space: pre-line;
    text-align:left;
    z-index: 1;
}
