@{
    ViewBag.Title = "Site under maintenance";
}

<h2 style="color:#fff">Site upgrades in progress.</h2>
<span style="color:#fff">We are currently hard at work bringing you new and improved features and content. Please come back soon.</span>
