

<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#submenu-navbar-collapse">
        <span class="sr-only">Open Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a  class="navbar-brand menu-search" href="#">
        <span id="menu-search" class="glyphicon glyphicon-search"></span>
        <input class="search-menu-input hidden" type="text" name="search-main-menu" placeholder="SEARCH" data-list=".list">
    </a>
</div>


