/*html, body, form {
    margin: 0px 0px;
    font-size: 12px;
    font-family: 'Segoe UI', Verdana, Geneva, Arial, Helvetica, Sans-serif !important;
}

html, #pageBody {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
}*/

#layout {
    width: 100%;
    height: 100%;
    border: 0px none;
    /*min-width:1000px;*/
    min-height: 100%;
    overflow: hidden;
    zoom: 1;
    border-collapse: separate;
}

#l_head {
    height: 30px;
    font-size: 12px;
    color: #ffffff;
    vertical-align: top;
    text-align: center;
}

#l_hs1 {
    height: 100%;
    width: 350px;
}

#l_hs2 {
    font-size: 18px;
}

#l_hs3 {
    height: 100%;
    width: 350px;
}



#l_work {
    height: 100%;
    vertical-align: top;
    background-color: #ffffff;
}


#l_foot {
    bottom: 0px;
    width: 100%;
}

    #l_foot td {
        padding-right: 10px;
        text-align: right;
        font-size: 9px;
        color: #ffffff;
        height: 18px;
        line-height: 18px;
        vertical-align: middle;
    }

#l_favtitle td {
    text-align: center;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #ffffff;
}

    #l_favtitle td a {
        color: #ffffff;
        text-decoration: none;
    }

#l_favtitle #favbutton {
    padding-right: 35px;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    background-image: url(../../../asset/Get?file=/controls/Wrench.png&resourceArea=CUI);
    width: 85px;
}

#l_fav td {
    text-align: center;
}

#menustructure {
    padding: 10px 0px;
}

.ccmenuitem {
    width: 110px;
    height: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    margin: 0px auto;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .ccmenuitem .title {
        color: #5B5B5B;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 35px;
        text-align: center;
        width: 100%;
        font-size: 11px;
        background-color: #ffffff;
    }


.pgback .title {
    color: #ffffff;
}

#favouriteitems .ccmenuitem .title {
    background-color: transparent;
}

#layout div.section {
    width: 33%;
    height: 100%;
}

#l_flownavigation {
    text-align: right;
    border-top: 1px solid #B8B9BD;
}


#l_workspace {
    background-color: #ffffff;
    vertical-align: top;
    font-size: 12px;
    border-collapse: collapse;
    padding: 18px;
}

#l_workarea {
    background-color: #ffffff;
    min-height: 200px;
    padding-left: 0px;
    padding-right: 0px;
}

    #l_workarea form {
        margin: 0px;
        border-collapse: collapse;
    }

#l_formtitle {
    color: #5c5c5c;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: left;
}



#l_sidebar {
    font-size: 12px;
    left: 0;
    min-width: 190px;
    vertical-align: top;
    width: 190px;
    background-color: #f2f2f2;
    padding: 10px;
    padding-top: 35px;
    padding-left: 20px;
}

    #l_sidebar .sbsection {
        font-size: 13px;
        color: #5C5C5C;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    #l_sidebar .sboptions {
        margin-bottom: 20px;
    }

.sboptions div.sbitem, div.custom_sbitem {
    color: #7f7f7f;
    font-size: 11px;
    cursor: pointer;
    height: 17px;
    margin-bottom: 10px;
    padding-right: 17px;
    background: url(../../../asset/Get?file=/layout/arrow.png&resourceArea=CUI) no-repeat scroll right center;
    text-transform: capitalize;
}

.sboptions div.selected {
    color: #c5c5c5;
    cursor: default;
}



#layout div.lticon, #layout div.rticon {
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

#layout div.rticon {
    float: right;
    width: 30px;
    text-align: right;
}

#layout div.lticon {
    float: left;
    width: 90px;
    text-align: center;
    text-transform: uppercase;
}




    #layout div.lticon.ia:hover, #layout div.rticon.ia:hover {
        color: #ffffff;
    }

#l_mnu3.rticon.ia {
}

#l_mnu3.rticon.sel {
}

#l_mnu4.rticon.ia { /*background: url(../../../asset/Get?file=/layout/sett_ia.png&resourceArea=CUI) center center no-repeat;*/
}

#l_mnu4.rticon.sel { /*background: url(../../../asset/Get?file=/layout/sett_sel.png&resourceArea=CUI) center center no-repeat;*/
}

#l_mnu5.rticon.nomsg { /*background: url(../../../asset/Get?file=/layout/notif_nomsg.png&resourceArea=CUI) center center no-repeat;*/
}

    #l_mnu5.rticon.msg:hover, #l_mnu5.rticon.nomsg:hover, #l_mnu5.rticon.sel {
        /*background: url(../../../asset/Get?file=/layout/notif_sel.png&resourceArea=CUI) center center  no-repeat;*/
    }

#l_mnu6 {
    width: auto !important;
    padding-left: 30px;
    background: url(../../../asset/Get?file=/layout/usericon.png&resourceArea=CUI) left center no-repeat scroll;
    overflow: hidden;
}

/* search bar on worklist forms */
#l_sb {
    height: 50px !important;
    line-height: 30px !important;
    padding: 10px !important;
    vertical-align: middle !important;
    margin-bottom: 10px !important;
    background-color: #f2f2f2 !important;
    border-top: 1px solid #c5c5c5 !important;
    border-bottom: 1px solid #c5c5c5 !important;
    border-collapse: collapse !important;
}

    #l_sb .title {
        font-size: 20px !important;
        float: left !important;
        padding-right: 10px !important;
        height: 30px !important;
    }

    #l_sb .control {
        float: right !important;
        padding-left: 10px !important;
        height: 30px !important;
        line-height: 30px !important;
    }

    #l_sb .loader {
        display: none;
        background: url(../../../asset/Get?file=/layout/button_bg.png&resourceArea=CUI) no-repeat scroll center center;
    }

.l_bb {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 10px;
}

    .l_bb .item {
        float: right;
        padding-left: 5px;
    }

/* form container table */

.tablediv {
    border-top: 1px solid #b4bbcd;
    border-bottom: 1px solid #b4bbcd;
    background-color: #f2f2f2;
    padding-left: 20px;
}


    .tablediv .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }

.l_ft {
    background-color: #f2f2f2;
    margin: 5px 0px;
    width: 100%;
    text-align: left;
}

    .l_ft tr {
        height: 30px;
    }

        .l_ft tr > td:first-child {
            padding-left: 20px;
        }

        .l_ft tr td input[type="text"], input[type="password"], input[type="file"] {
            width: 220px !Important;
        }


    .l_ft .submit {
        text-align: right;
        border-top: 1px solid #c5c5c5;
        background-color: #ffffff;
        padding: 3px 0px;
    }

form .title {
    font-size: 20px;
    height: 30px;
    margin-top: 10px;
}

/*.formLabel {
    text-align: left !important;
    color: #7f7f7f;
    font-size: 12px;
    padding-top: 7px;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}*/

/*.fieldvalue {
    color: #000000;
    font-size: 11px;
}*/

.l_ft td.staticText {
    padding-left: 50px;
}




.l_ft td.required {
    color: #5c5c5c !important;
}


/* cached reusable objects */
#l_cro {
    background-color: #f2f2f2;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 10px;
}

    #l_cro .title {
        font-size: 20px;
        height: 30px;
        margin: 0 20px 20px;
    }


    #l_cro .content {
        clear: both;
        padding: 0px 20px;
        margin-bottom: 3px;
        display: block;
    }

    #l_cro .item {
        color: #7F7F7F;
        font-size: 12px;
        float: left;
        width: 300px;
        height: 22px;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

        #l_cro .item .toil {
            color: #7f7f7f;
        }

        #l_cro .item .toiv {
            color: #5c5c5c;
        }

#breadcrumbs .breadcrumb {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    color: #7f7f7f;
    overflow: hidden;
    float: left;
    padding-right: 10px;
    margin-bottom: 0 !important;
    background-color: #FFF;
}

#breadcrumbs .sub {
    padding-left: 17px;
    background: url(../../../asset/Get?file=/layout/arrow.png&resourceArea=CUI) no-repeat scroll left center;
}

#breadcrumbs {
    border-bottom: 1px solid #c5c5c5;
    height: 40px;
    width: 100%;
}


.breadcrumbspacing {
    color: #666666;
    padding: 3px;
}


#favouriteitems .ccmenuitem {
    /*margin: 0 10px 0 auto;*/
}

    #favouriteitems .ccmenuitem .title {
        color: #ffffff;
    }

/* **** */
